@import  "libs/bourbon/bourbon";

*{
	box-sizing: border-box;
}

html,
body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}


.app-container{
	height: 100%;
	position: relative;
	&__content{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		min-height: 200px;
		transform: translateX(-50%) translateY(-50%);
		margin: 0 auto;
	}
}