<div data-ng-controller="sensorsCtrl">
	<md-content>
		<div class="cf">
			<div class="f-left">
				<div>mySensor001</div>
				<div>Last update: {{sensorLastUpdateStr(sensor.ts)}}</div>
			</div>
			<div class="f-right">
				<div>{{sensor.tempr}}&deg;</div>
				<div>{{sensor.hum}}%</div>
			</div>
		</div>
	</md-content>
</div>